.fira-sans-bold{
    font-family: "Fira Sans", serif;
    /* font-weight: 700; */
    font-style: normal;
}
    
 body{
    background-color: rgb(233, 237, 240);
 } 
/* nav style */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-title{
    font-size: 32;
    color: rgba(14, 14, 14, 1);
}

.btn-primary{
    padding: 15px 40px;
    border-radius: 8px;
    color: rgba(0, 106, 80, 1);
    font-size: 15px;
    border: 1px solid rgba(0, 106, 80, 1);
}

.btn-primary:hover, .btn-all:hover, .secondary-btn button:hover, #btn-1:hover, #btn-2:hover, #btn-3:hover, .extra-effect-2:hover, .donate-box .donate-amount:hover{
    background-color: gray;
    cursor: pointer;
    
}

.btn-all{
    padding: 17px 34px;
    background-color: rgba(0, 106, 80, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    margin-top: 24px;
    margin-bottom: 117px;
    border: none;
}



.secondary-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 32px; */
}
#btn-1{
    background-color: rgba(84, 144, 245, 1);
    padding: 11px 20px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600px;
    border: none;
    color: rgba(241, 241, 243, 1);
    margin-bottom: 32px;
    
}
#btn-2{
    background-color: rgba(9, 161, 92, 1);
    padding: 11px 20px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600px;
    border: none;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 32px;
}
#btn-3{
    background-color: rgba(255, 194, 57, 1);
    padding: 11px 20px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600px;
    border: none;
    color: #FFFFFF;
    margin-bottom: 32px;
}



.section-1{
    height: 800px;
    border-radius: 24px;

    background-color: rgba(198, 228, 214, 1);
    
    
}
.margin{
    margin: 20px 160px;

}


.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-title{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    
}

.banner-content{
    margin: 117px 598px 197px 60px;
}
.banner-desc{
    font-size: 56px;
    color: rgba(14, 14, 14, 1);
}

.hero{
    max-width: 560px;
    
    margin: 80px 60px;
}
/* section 2 style */

.section-2{
    height: 500px;
}

.section-2-tile{
    font-size: 40px;
    color: rgba(14, 14, 14, 1);
    margin-top: 80px;
    margin-bottom: 32px;
}

.section-sub-title{
    color: #0E0E0E;
    font-size: 20px;
}

.section-2-desc{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    font-weight: normal;
}

.section-items{
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.section-item{
    background-color: white;
    padding: 24px 24px;
    margin-top: 32px;
    border-radius: 16px;
    border: none;
    width: 302px;
    height: 244px;
    
}
/* section 3 style */

/* .section-3{
    background-color: aliceblue;
    border-radius: 18px;
} */

.section-3{
    height: 500px;
    
}
.section-3-title{
    font-size: 40px;
    color: rgba(14, 14, 14, 1);
}
.section-3-desc{
    font-weight: normal;
    color: rgba(14, 14, 14, 0.7);
}

.section-3-items{
    display: flex;
    gap: 24px;
    justify-content: space-between;

}


.section-3-item1{
    background-color: rgba(84, 144, 245, 0.2);
    padding: 32px 32px 0 32px;
    border: none;
    border-radius: 16px;
    

}

.section-3-item2{
    background-color: rgba(198, 228, 214, 1);
    padding: 32px 32px 0 32px;
    border: none;
    border-radius: 16px;
}

.section-3-item3{
    background-color: rgba(247, 235, 207, 1);
    padding: 32px 32px 0 32px;
    border: none;
    border-radius: 16px;
}
/* section 4 */
.section-4{
    margin-top: 32px 0 80px 0;
    padding: 30px 24px;
    background-image: url(/assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-color: white;
    border-radius: 18px;
}

.section-4-desc{
    color: rgba(14, 14, 14, 0.8);
    font-weight: normal;
    font-size: 16px;
}

/* section 5  */

.heading-1{
    color: rgba(14, 14, 14, 1);
    font-weight: bold;
    font-size: 40px;
}

.heading-2{
    color: rgba(14, 14, 14, 0.7);
    font-weight: normal;
    font-size: 16px;
}

/* section 5 */

.cards{
    display: flex;
    background-color: white;
    gap: 50px;
    border-radius: 24px;
    padding: 60px
      
}
.card-title{
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    
}

.satelite{
    width: 408px;
    height: 306px;
    border-radius: 24px;

}

.date-time{
    color: rgba(14, 14, 14, 0.7);
}
.img-desc{
    color: rgba(14, 14, 14, 0.7);
}

.cards2{
    display: flex;
    margin-top: 30px;
}
/* donate section */
.donate-section{
    margin-top: 0 auto;
    padding: 100px;
    
}

.donate{
    text-align: center;
}

.donate-title{
    font-size: 40px;
    color: rgba(14, 14, 14, 1);
}
.donate-desc{
    color: rgba(14, 14, 14, 0.7);
}
.donate-box{
    display: flex;
    gap: 24px;
    text-align: center;
    justify-content: space-around;
    
}

.donate-amount{
    padding: 40px 40px;
    background-color: white;
    /* height: 128px; */
    width: 240px;
    border-radius: 16px;
}

.extra-effect{
    background-color: rgb(203, 190, 227);

}
/* input [type="number"]{
    width: 100%;
} */
input{
    width: 100%;
    height: 60px;
    margin-top: 40px;
    border: none;
}

input::placeholder {
    text-align: center;
    font-size: 20px;
}

/* subscribe section style */
.subscribe{
    padding: 80px 265px;
    background-color: rgba(198, 228, 214, 1); 
    border-radius: 24px;
    
}

.subscribe-title{
    color: rgba(14, 14, 14, 1);
    font-size: 40px;
    line-height: 24px;
    font-weight: bold;
}
.subscribe-desc{
    color: rgba(14, 14, 14, 0.7);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.text-align{
    text-align: center;
}

.subscribe-input-btn input{
    border-radius: 10px 0 0 10px;
    width: 70%;
}

.extra-effect-2{
    border-radius: 0 16px 16px 0;
    border: none;
    background-color: rgba(0, 106, 80, 1);
    padding: 17px 34px;
    height: 60px;
    width: 150px;
    color: white;

}

.sub-desc-2{
    color: rgba(14, 14, 14, 0.7);
}
.subscribe-input-btn input::placeholder{
    text-align: left;
}

/* footer style */

.footer-images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

footer{
    margin-top: 50px;
    padding: 50px;

}